
/*------------------------------------*\
    #Objects
\*------------------------------------*/

body {
  height: 500px;
  margin: 0 auto;
  padding: 0px;
  background-image: url("../img/jeju-sunset.jpg");
  background-size: cover;
  background-attachment: fixed;
}


.content {
  position: absolute;
  top: 2%;  bottom: 0;  left: 0;  right: 0;
  padding: 0 24px;
  margin-left: auto ;
  margin-right: auto ;
}


.navigate {
padding-top: 1em;
padding-left: 10%;
margin: 0 .5em;
}

.nav-button {
display: block;
width: 20%;
float: left;
}

.logo-box {
opacity: 0.8;
border-radius: 2px;
color: white;
}

.blurb {
position: relative;
top: -23px;
text-align: center;
margin-top: 0px;
color: black;
}

.info-box {
opacity: 0.8;
border-radius: 2px;
font-family: 'Oswald', sans-serif;
text-align: center;
background-color: white;
}

.header {
  font-family: 'Lato', sans-serif;
  color: white;
}


.info-item {
  font-size: 20pt;
  line-height: 0.8em;

}

a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}
a:hover {
    background-color:black;
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    transition: 300;
}


/*------------------------------------*\
    #Type-Properties
\*------------------------------------*/

.body-font {
  font-family: 'Lato', sans-serif;
}
.header-font {
  font-family: 'Oswald', sans-serif;
}


.logo-text {
  font-size: 65pt;
  text-align: center;
  line-height: 0;

}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.subhead {
  font-size: 28pt;
  font-weight: lighter;
  font-family: Oswald;
  letter-spacing: -.05em;
  color: black;
}

.message-head {
  text-align: center;
  font-size: 24pt;
}


.info {
  list-style: none;

}
.narrow {
  margin: 0 257px;
  padding: 7px;
}

i {
  font-size: 22pt !important;
  padding-right: 7px;
}

/*------------------------------------*\
    #Color-Prperties
\*------------------------------------*/

.darkest-black {
  background-color: #000000;
}

.darkest {
color: #000000;
}

.darker-back {
  background-color: #565656;
}

.darker {
  color: #565656;
}

.mid-tone-back {
  background-color: #848484;
}

.mid-tone {
  color: #848484;
}

.lighter-back {
  background-color: #bcbcbc;
}

.lighter {
  color: #bcbcbc;
}

.lightest-back {
  background-color: #ffffff;
}
